export PORT=9010

export DB_HOST=db
export DB_PORT=5432
export DB_DATABASE=chat
export DB_USERNAME=postgres
export DB_PASSWORD=postgres

export JWT_SECRET=s3cr3t
export JWT_TTL=99999
export LOG_PANIC_TRACE=false
export CORS_DEBUG=false

export RABBIT_USERNAME=guest
export RABBIT_PASSWORD=guest
export RABBIT_HOST=rabbitmq
export RABBIT_PORT=5672
export RECEIVER_QUEUE=stockbot-publisher
export PUBLISHER_QUEUE=stockbot-receiver
export STOCK_SERVICE_URL=https://stooq.com/q/l/?s=%s&f=sd2t2ohlcv&h&e=csv